# Python Programming: Basic to Intermediate Concepts
Python is a high-level, easy-to-read programming language used for building websites, automating tasks, analyzing data, creating software, and much more.

In [1]:
#Python Syntax and Input
print("Hello Python")

Hello Python

In [2]:
name = input("Enter your name : ")
print(name)

Gopal

## Comments

In [5]:
# Single Line Comment
a=23 #This is single line comments

In [6]:
#this is addition function
def add_number(a,b):
    n=a+b
    return n
add_number(12,25)

37

In [7]:
#Mutliline comments
"""this is 
multiline 
comments""" #When We will start Gen AI will go in depth

#second way
'''this
is 
multiline 
comments
'''

'this\nis \nmultiline \ncomments\n'

In [10]:
s="""
Hello
World"""

print(s)

Hello
World

### please do some handson

In [ ]:
#hands on

## 1. Variables and Data Types
A variable is a named place in memory where a value is stored so you can use or change it later, Variables are containers for storing data values. 

Data types means what kind of value store in variables. Python has various data types including integers, floats, strings, and booleans.

In [3]:
#Code
n= 23
a="gopal"
print(type(n),type(a))

<class 'int'> <class 'str'>

In [4]:
# DataType
a=25 #int
s= "Gopal" #string
f=99.99 #Float
b=True #boolean
print(type(a))
print(type(s))
print(type(f))
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

## 2. Type Casting
Convert from one data type to another using built-in functions like `int()`, `float()`, `str()`.

In [ ]:
#Type Conversion
n=25
print(type(n))
n=str(n) #Type Conversion from integer to string
print(type(n))

<class 'int'>
<class 'str'>

In [11]:
s="25"
print(type(s))
s=int(s) #Type Conversion from string to integer
print(type(s))

<class 'str'>
<class 'int'>

In [14]:
n=25
print(type(n))
print(n)
n=float(n) # Type Conversion from Interger to Float
print(type(n))
print(n)

<class 'int'>
25
<class 'float'>
25.0

# String

| **Method**              | **Description**                        | **Application**                                                       | **Example**                                                                          |
| ----------------------- | -------------------------------------- | --------------------------------------------------------------------- | ------------------------------------------------------------------------------------ |
| `capitalize()`          | Capitalizes first character            | To capitalize the first letter of a string                            | **Input:** `"hello".capitalize()` <br> **Output:** `Hello`                           |
| `casefold()`            | Aggressive lowercase (for comparisons) | Useful for case-insensitive string comparisons                        | **Input:** `"ß".casefold()` <br> **Output:** `ss`                                    |
| `center(width, fill)`   | Center aligns string                   | For centering a string within a specified width                       | **Input:** `"hi".center(10, '-')` <br> **Output:** `--hi-------`                     |
| `count(sub)`            | Count occurrences of substring         | To count how many times a substring appears in a string               | **Input:** `"banana".count("a")` <br> **Output:** `3`                                |
| `encode()`              | Encode string to bytes                 | Convert a string to its byte representation                           | **Input:** `"hi".encode()` <br> **Output:** `b'hi'`                                  |
| `endswith(suffix)`      | Checks string end                      | To check if a string ends with a specific suffix                      | **Input:** `"hello".endswith("lo")` <br> **Output:** `True`                          |
| `expandtabs(tabsize)`   | Replace `\t` with spaces               | For converting tab characters to spaces in a string                   | **Input:** `"a\tb".expandtabs(4)` <br> **Output:** `a   b`                           |
| `find(sub)`             | Return index of substring, or -1       | To find the first occurrence of a substring in a string               | **Input:** `"hello".find("l")` <br> **Output:** `2`                                  |
| `format()`              | Format string                          | To format a string with placeholders and variables                    | **Input:** `"{} {}".format("Hi","All")` <br> **Output:** `Hi All`                    |
| `format_map(mapping)`   | Format using a dict                    | Format a string using a dictionary mapping                            | **Input:** `"{name}".format_map({"name":"Bob"})` <br> **Output:** `Bob`              |
| `index(sub)`            | Like `find()` but errors if not found  | To find the index of a substring, raises ValueError if not found      | **Input:** `"hello".index("e")` <br> **Output:** `1`                                 |
| `isalnum()`             | Alphanumeric?                          | To check if a string contains only alphanumeric characters            | **Input:** `"abc123".isalnum()` <br> **Output:** `True`                              |
| `isalpha()`             | Alphabetic?                            | To check if a string contains only alphabetic characters              | **Input:** `"abc".isalpha()` <br> **Output:** `True`                                 |
| `isascii()`             | ASCII characters only?                 | To check if all characters in the string are ASCII characters         | **Input:** `"π".isascii()` <br> **Output:** `False`                                  |
| `isdecimal()`           | Decimal digits?                        | To check if the string consists of decimal digits only                | **Input:** `"123".isdecimal()` <br> **Output:** `True`                               |
| `isdigit()`             | Digits? (includes superscripts etc.)   | To check if the string consists of digits (including special symbols) | **Input:** `"²".isdigit()` <br> **Output:** `True`                                   |
| `isidentifier()`        | Valid Python identifier?               | To check if a string is a valid Python variable name                  | **Input:** `"var1".isidentifier()` <br> **Output:** `True`                           |
| `islower()`             | All letters lowercase?                 | To check if all letters in a string are lowercase                     | **Input:** `"hello".islower()` <br> **Output:** `True`                               |
| `isnumeric()`           | Numeric?                               | To check if a string contains numeric characters, including fractions | **Input:** `"Ⅷ".isnumeric()` <br> **Output:** `True`                                 |
| `isprintable()`         | Printable characters?                  | To check if all characters in a string are printable                  | **Input:** `"hello".isprintable()` <br> **Output:** `True`                           |
| `isspace()`             | Only whitespace?                       | To check if the string contains only spaces or tab characters         | **Input:** `"   ".isspace()` <br> **Output:** `True`                                 |
| `istitle()`             | Title case?                            | To check if the string is in title case                               | **Input:** `"Hello World".istitle()` <br> **Output:** `True`                         |
| `isupper()`             | All uppercase?                         | To check if all letters in a string are uppercase                     | **Input:** `"HELLO".isupper()` <br> **Output:** `True`                               |
| `join(iterable)`        | Join iterable into string              | To join elements of an iterable with a separator string               | **Input:** `" ".join(["a","b"])` <br> **Output:** `a b`                              |
| `ljust(width, fill)`    | Left align                             | To left-align a string within a specified width                       | **Input:** `"hi".ljust(10, '-')` <br> **Output:** `hi--------`                       |
| `lower()`               | Lowercase                              | To convert all characters in a string to lowercase                    | **Input:** `"HELLO".lower()` <br> **Output:** `hello`                                |
| `lstrip(chars)`         | Strip left side                        | To remove leading whitespace or specified characters                  | **Input:** `"  hi".lstrip()` <br> **Output:** `hi`                                   |
| `maketrans()`           | Create translation table               | To create a character translation map                                 | **Input:** `str.maketrans("abc", "123")` <br> **Output:** `{97: 49, 98: 50, 99: 51}` |
| `partition(sep)`        | Split into 3 parts                     | To split a string into three parts around a separator                 | **Input:** `"a-b".partition("-")` <br> **Output:** `('a', '-', 'b')`                 |
| `removeprefix(prefix)`  | Remove prefix if present               | To remove a prefix from a string, if it exists                        | **Input:** `"HelloWorld".removeprefix("Hello")` <br> **Output:** `World`             |
| `removesuffix(suffix)`  | Remove suffix if present               | To remove a suffix from a string, if it exists                        | **Input:** `"file.txt".removesuffix(".txt")` <br> **Output:** `file`                 |
| `replace(old, new)`     | Replace substring                      | To replace all occurrences of a substring                             | **Input:** `"hi hi".replace("hi", "bye")` <br> **Output:** `bye bye`                 |
| `rfind(sub)`            | Rightmost index or -1                  | To find the rightmost occurrence of a substring                       | **Input:** `"hello".rfind("l")` <br> **Output:** `3`                                 |
| `rindex(sub)`           | Rightmost index, errors if not found   | To find the rightmost occurrence, raises error if not found           | **Input:** `"hello".rindex("l")` <br> **Output:** `3`                                |
| `rjust(width, fill)`    | Right align                            | To right-align a string within a specified width                      | **Input:** `"hi".rjust(10, '-')` <br> **Output:** `-------hi`                        |
| `rpartition(sep)`       | Rightmost partition                    | To split a string from the right, into 3 parts                        | **Input:** `"a-b-c".rpartition("-")` <br> **Output:** `('a', '-', 'b-c')`            |
| `rsplit(sep, maxsplit)` | Split from right                       | To split a string from the right, limiting splits                     | **Input:** `"a,b,c".rsplit(",", 1)` <br> **Output:** `['a,b', 'c']`                  |
| `rstrip(chars)`         | Strip right side                       | To remove trailing whitespace or specified characters                 | **Input:** `"hi   ".rstrip()` <br> **Output:** `hi`                                  |
| `split(sep, maxsplit)`  | Split into list                        | To split a string into a list using a separator                       | **Input:** `"a,b,c".split(",")` <br> **Output:** `['a', 'b', 'c']`                   |
| `splitlines(keepends)`  | Split by lines                         | To split a multiline string into a list of lines                      | **Input:** `"a\nb".splitlines()` <br> **Output:** `['a', 'b']`                       |
| `startswith(prefix)`    | Checks start                           | To check if a string starts with a specific prefix                    | **Input:** `"hello".startswith("he")` <br> **Output:** `True`                        |
| `zfill(width)` | Pads string on the left with zeros | To ensure numeric strings have a fixed width (useful for IDs, timestamps, formatting) | **Input:** `"42".zfill(5)` <br> **Output:** `00042` |

## Task for Me 
1. zfill
2. rjust
3. ljust
4. center
5. Add Application Column

In [4]:
str.maketrans("abcd","1345") #ascii value a=97,b=98,c=99,d=100 and 1=49,3=51,4=52,5=53

{97: 49, 98: 51, 99: 52, 100: 53}

In [2]:
s1="25"
s1.zfill(4)

'0025'

In [2]:
s="HelloGopal"
print(s.upper())

HELLOGOPAL

In [3]:
# Capitilized
print(s.capitalize())

Hellogopal

In [5]:
#casefold
print(s.casefold()) # Need to explore where to used and why??

hellogopal

In [ ]:
print(s.center("-"))# Need to explore where to used and why??

HelloGopal

In [24]:
s2="Helloworld"
s2[2]

'l'

In [21]:
s2[:2]

'He'

In [30]:
s2[2:]

'lloworld'

In [29]:
s2[1:9] # [start:end:step]

'elloworl'

In [18]:
s1="hello"
s2="world"
print(s1)
print(s2)
#s1=s1.join(s2) #Not giving Expected Result
s1=s1+s2 #Merge String
print(s1)
print(s2)

hello
world
helloworld
world

In [20]:
print(s.capitalize())

Hellogopal

In [19]:
print(s.lower())

hellogopal

# 3. Operators
An operator in Python is a special symbol or keyword used to perform operations on values or variables.
Python uses operators to carry out computations like arithmatic, comparison, logical evaluation, assignment, Relational, Bitwise, Membership and Identity etc.

| **Category**                | **Operator**    | **Description**               | **Example**                         |
| --------------------------- | --------------- | ----------------------------- | ----------------------------------- |
| **Arithmetic**              | `+`             | Addition                      | `a + b`                             |
| Arithmetic                  | `-`             | Subtraction                   | `a - b`                             |
| Arithmetic                  | `*`             | Multiplication                | `a * b`                             |
| Arithmetic                  | `/`             | Division                      | `a / b`                             |
| Arithmetic                  | `%`             | Modulus (remainder)           | `a % b`                             |
| Arithmetic                  | `**`            | Exponentiation                | `a ** b`                            |
| Arithmetic                  | `//`            | Floor Division                | `a // b`                            |
| **Relational (Comparison)** | `==`            | Equal to                      | `a == b`                            |
| Comparison                  | `!=`            | Not equal to                  | `a != b`                            |
| Comparison                  | `>`             | Greater than                  | `a > b`                             |
| Comparison                  | `<`             | Less than                     | `a < b`                             |
| Comparison                  | `>=`            | Greater than or equal         | `a >= b`                            |
| Comparison                  | `<=`            | Less than or equal            | `a <= b`                            |
| **Logical**                 | `and`           | True if both True             | `a > 5 and b < 10`                  |
| Logical                     | `or`            | True if any True              | `a > 5 or b < 10`                   |
| Logical                     | `not`           | Negates condition             | `not(a > b)`                        |
| **Assignment**              | `=`             | Assign value                  | `a = 10`                            |
| Assignment                  | `+=`            | Add and assign                | `a += 2`                            |
| Assignment                  | `-=`            | Subtract and assign           | `a -= 2`                            |
| Assignment                  | `*=`            | Multiply and assign           | `a *= 2`                            |
| Assignment                  | `/=`            | Divide and assign             | `a /= 2`                            |
| Assignment                  | `%=`            | Modulus and assign            | `a %= 2`                            |
| Assignment                  | `**=`           | Exponent and assign           | `a **= 2`                           |
| Assignment                  | `//=`           | Floor divide and assign       | `a //= 2`                           |
| **Bitwise**                 | `&`             | Bitwise AND                   | `a & b`                             |
| Bitwise                     | `\|`            | Bitwise OR                    | `a \| b`                            |
| Bitwise                     | `^`             | Bitwise XOR                   | `a ^ b`                             |
| Bitwise                     | `~`             | Bitwise NOT                   | `~a`                                |
| Bitwise                     | `<<`            | Left shift                    | `a << 2`                            |
| Bitwise                     | `>>`            | Right shift                   | `a >> 2`                            |
| **Membership**              | `in`            | True if value in sequence     | `'a' in 'apple'`                    |
| Membership                  | `not in`        | True if value not in sequence | `'x' not in 'apple'`                |
| **Identity**                | `is`            | Same object                   | `a is b`                            |
| Identity                    | `is not`        | Not same object               | `a is not b`                        |
| **Ternary (Conditional)**   | `a if c else b` | One-line if-else              | `"Even" if num % 2 == 0 else "Odd"` |

In [ ]:
a=2
b="hello"
if a is b:
    print("Both are same value:",a,b)
else:
    print("Both are not same value:",a,b)

Both are same value: 2 hello

In [ ]:
a=2
b="hello"
if a is not b:
    print("Both are same value:",a,b)
else:
    print("Both are not same value:",a,b)

In [50]:
s1="Gopal"
c="o"
if c in s1:
    print(c," is available in :",s1)
else:
    print(c, " is not available in :",s1)

o  is available in : Gopal

In [53]:
s1="Gopal"
c="N"
if c not in s1:
    print(c, " is available in :",s1)
else:
    print(c, " is not available in :",s1)

N  is available in : Gopal

In [32]:
a=True
b=False
if a & b:
    print("Both Condition Satisfied")
else:
    print("one or both condition not sasftied")

one or both condition not sasftied

In [40]:
a=True
if ~ a:
    print("a is true and we are using Not Operator")

a is true and we are using Not Operator

/tmp/ipykernel_6752/1792969382.py:2: DeprecationWarning: Bitwise inversion '~' on bool is deprecated. This returns the bitwise inversion of the underlying int object and is usually not what you expect from negating a bool. Use the 'not' operator for boolean negation or ~int(x) if you really want the bitwise inversion of the underlying int.
  if ~ a:

In [ ]:
a=False
b=False
if a | b:
    print("one or both condition sasftied")
else:
    print("both condition not satsified")

both condition not satsified

In [ ]:
#XOR Need To explore this
a=True
b=False
if a ^ b:
    print("one or both condition sasftied")
else:
    print("both condition not satsified")

one or both condition sasftied

In [41]:
#Operator
s="Gopal"
if "f" in s:
    print(s)

# 4. Conditional Statement

| Statement / Syntax                      | Short Description                                        |
| --------------------------------------- | -------------------------------------------------------- |
| `if`                                    | Executes a block of code when the condition is **True**. |
| `if-else`                               | Chooses between two blocks depending on **True/False**.  |
| `if-elif-else`                          | Checks multiple conditions in sequence.                  |
| Nested `if`                             | An `if` statement inside another `if` block.             |
| Ternary expression (`a if cond else b`) | Short, one-line conditional expression.                  |

In [7]:
# if
age=15
if age>=18:
    print("You are eligible for Voting")

In [8]:
#if-else
if age>=18:
    print("You are eligible for Voting")
else:
    print("You are not eligible for Voting")

You are not eligible for Voting

In [9]:
#if-elif-else
marks=80
if marks < 40:
    print("you are Failed")
elif 40 <= marks <60:
    print("you are pass with second class")
elif 60<= marks <75:
    print("you are pass with first class")
elif 75<= marks <100:
    print("You are pass with first class distinction")
else:
    print("value was incorrect")

You are pass with first class distinction

In [ ]:
#Nested if statement
state="Maharshtra"
dist="Latur"
if state == "Maharshtra":
    if dist== "Chh. Sambhajinagar":
        print("You are from Chh. Sambhajinagar in Maharashtra")
    if dist== "Latur":
        print("You are from Latur in Maharashtra")

You are from Latur in Maharashtra

In [13]:
#Ternary Statement
n=17
"Even" if n%2==0 else "odd"

'odd'

# 5. Loops and Control Statements

| Loop / Statement | Short Description                                 |
| ---------------- | ------------------------------------------------- |
| `for` loop       | Loops over a sequence (list, range, string, etc.) |
| `while` loop     | Repeats as long as the condition is `True`        |
| `break`          | Exits the loop immediately                        |
| `continue`       | Skips the current iteration                       |
| `pass`           | Does nothing; placeholder                         |

In [21]:
#For Loops
s1="Hello"
list1=[1,2,3,"gopal",5]
#string iteration using for Loop
for c in s1:
    print("iterate value:",c)
print("--------------partition-----------------")
for item in list1:
    print("iterated item:",item)

iterate value: H
iterate value: e
iterate value: l
iterate value: l
iterate value: o
--------------partition-----------------
iterated item: 1
iterated item: 2
iterated item: 3
iterated item: gopal
iterated item: 5

In [24]:
#Numberic Value
for n in range(10):
    print("interated number: ",n)

interated number:  0
interated number:  1
interated number:  2
interated number:  3
interated number:  4
interated number:  5
interated number:  6
interated number:  7
interated number:  8
interated number:  9

In [28]:
#While Loop
n=10
while 0<n:
    print("Condition satisfied",n)
    n=n-1

Condition satisfied 10
Condition satisfied 9
Condition satisfied 8
Condition satisfied 7
Condition satisfied 6
Condition satisfied 5
Condition satisfied 4
Condition satisfied 3
Condition satisfied 2
Condition satisfied 1

In [33]:
for i in range(10):
    try:
        a=1/1
        print("Retry:",i)
        break
    except:
        pass

Retry: 0

In [ ]:
#Control Statement
#Break
for i in range(10):
    if i == 5:
        break
    print("range number: ",i)

range number:  0
range number:  1
range number:  2
range number:  3
range number:  4

In [36]:
for i in range(10):
    if i%2!=0:
        continue
    print("range number: ",i)

range number:  0
range number:  2
range number:  4
range number:  6
range number:  8

In [38]:
for i in range(10):
    if i==5:
        continue
    print("range number: ",i)

range number:  0
range number:  1
range number:  2
range number:  3
range number:  4
range number:  6
range number:  7
range number:  8
range number:  9

In [37]:
for i in range(10):
    if i%2==0:
        continue
    print("range number: ",i)

range number:  1
range number:  3
range number:  5
range number:  7
range number:  9

# 6. Data Collection
### List, Tuples, Dictionary, Sets

## 6.1 List
A List in Python is an ordered, mutable collection used to store multiple items in a single variable.
It can contain elements of different data types and supports indexing, slicing, and modification.

In [39]:
list1=[1,2,3,4,5]
list2=["apple","banana","cherry","mango"]
print(list1)
print(list2)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry', 'mango']

In [41]:
list1[4]

5

In [42]:
list2[3]

'mango'

In [47]:
print(list1[:2]) 
print(list1[2:])
print(list1[0:4:3])

[1, 2]
[3, 4, 5]
[1, 4]

In [48]:
print(list1)
list1.append(7)
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]

In [49]:
print(list1)
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 7]
[1, 2, 3, 4, 5, 7, 'apple', 'banana', 'cherry', 'mango']

In [50]:
list1.insert(4,10)
print(list1)

[1, 2, 3, 4, 10, 5, 7, 'apple', 'banana', 'cherry', 'mango']

In [53]:
list1.remove(5)
print(list1)

[1, 2, 3, 4, 7, 'apple', 'banana', 'cherry', 'mango']

In [54]:
list1.pop()
print(list1)

[1, 2, 3, 4, 7, 'apple', 'banana', 'cherry']

In [55]:
list1.pop(3)
print(list1)

[1, 2, 3, 7, 'apple', 'banana', 'cherry']

In [56]:
list1.append(7)

In [57]:
print(list1)

[1, 2, 3, 7, 'apple', 'banana', 'cherry', 7]

In [58]:
list1.index(7)

3

In [60]:
print(list1.count(3))
print(list1.count(2))

1
1

In [68]:
list3=[1,4,3,5,2,6,8,7]
print("Unsorted List:",list3)
list3.sort()
print("Sorted List / Ascending Order list:",list3)
list3.reverse()
print("Reverse Lised/ Descending order List:",list3)

Unsorted List: [1, 4, 3, 5, 2, 6, 8, 7]
Sorted List / Ascending Order list: [1, 2, 3, 4, 5, 6, 7, 8]
Reverse Lised/ Descending order List: [8, 7, 6, 5, 4, 3, 2, 1]

In [69]:
list4=list3.copy()
print(list3)
print(list4)

[8, 7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]

In [70]:
print(list4)
list4.clear()
print(list4)

[8, 7, 6, 5, 4, 3, 2, 1]
[]

| Method             | Description                                                 |
| ------------------ | ----------------------------------------------------------- |
| `append(x)`        | Adds item `x` to the end of the list.                       |
| `extend(iterable)` | Adds all elements of an iterable to the end.                |
| `insert(i, x)`     | Inserts item `x` at index `i`.                              |
| `remove(x)`        | Removes the first occurrence of item `x`.                   |
| `pop(i)`           | Removes and returns item at index `i` (default: last item). |
| `clear()`          | Removes all items from the list.                            |
| `index(x)`         | Returns the index of the first occurrence of `x`.           |
| `count(x)`         | Returns how many times `x` appears in the list.             |
| `sort()`           | Sorts the list in ascending order (in-place).               |
| `reverse()`        | Reverses the list (in-place).                               |
| `copy()`           | Returns a shallow copy of the list.                         |

# Task
## 1. Try all String inbuilt function 
## 2. Try All Operators
## 3. Try Slicing Method
## 4. Try Conditional Statement
## 5. Try Loops and Control Statement
## 6. Try List

### --------------------------------------------------

## 6.2 Tuples
A tuple is an ordered, immutable collection of elements.
Once created, you cannot change, add, or remove items.

In [2]:
t1 = (1,2,3,4)

In [3]:
print(type(t1))

<class 'tuple'>

In [6]:
list1=[1,2,3,4]

In [8]:
list1[0]=5
print(list1)

[5, 2, 3, 4]

In [10]:
max(t1)

4

In [11]:
min(t1)

1

In [12]:
sum(t1)

10

In [13]:
t2=(2,3,1,5,4,7,6)

In [14]:
sorted(t2)

[1, 2, 3, 4, 5, 6, 7]

| Function          | Description                           | Example                     |
| ----------------- | ------------------------------------- | --------------------------- |
| `len(t)`          | Returns number of elements            | `len((1,2,3)) → 3`          |
| `max(t)`          | Returns maximum value (if comparable) | `max((1,9,3)) → 9`          |
| `min(t)`          | Returns minimum value                 | `min((2,5,1)) → 1`          |
| `sum(t)`          | Returns sum of elements (numbers)     | `sum((1,2,3)) → 6`          |
| `sorted(t)`       | Sort tuple & Retrun sorted List format| `sorted((3,1,2)) → [1,2,3]` |
| `tuple(iterable)` | Convert to tuple                      | `tuple([1,2]) → (1,2)`      |

## 6.3 Sets
A set in Python is an unordered, mutable collection of unique elements.
It does not allow duplicates and does not maintain order.

In [16]:
set1={1,3,5,4,2,4,4,4}
print(set1)

{1, 2, 3, 4, 5}

In [19]:
type(set1)

set

| Method                              | Description                               | Application                      | Example (Input → Output)                                  |
| ----------------------------------- | ----------------------------------------- | -------------------------------- | --------------------------------------------------------- |
| **add(x)**                          | Adds element `x` to the set               | Insert new item                  | `{1,2}.add(3)` → `{1,2,3}`                                |
| **clear()**                         | Removes all elements                      | Reset set                        | `{1,2}.clear()` → `set()`                                 |
| **copy()**                          | Returns shallow copy                      | Duplicate set                    | `s.copy()` → `{…}`                                        |
| **difference(s2)**                  | Elements in s1 but not in s2              | Find non-overlapping items       | `{1,2,3}.difference({2,3})` → `{1}`                       |
| **difference_update(s2)**           | Removes elements of s2 from original set  | In-place difference              | `s={1,2,3}; s.difference_update({2}); s` → `{1,3}`        |
| **discard(x)**                      | Removes `x` if exists (no error)          | Safe removal                     | `{1,2}.discard(2)` → `{1}`                                |
| **intersection(s2)**                | Elements common in both sets              | Find shared items                | `{1,2,3}.intersection({2,3,4})` → `{2,3}`                 |
| **intersection_update(s2)**         | Keeps only common elements (in-place)     | In-place intersection            | `s={1,2,3}; s.intersection_update({2,3})` → `{2,3}`       |
| **isdisjoint(s2)**                  | True if no common elements                | Check if two sets overlap        | `{1,2}.isdisjoint({3})` → `True`                          |
| **issubset(s2)**                    | Checks if set is subset of s2             | Check containment                | `{1,2}.issubset({1,2,3})` → `True`                        |
| **issuperset(s2)**                  | Checks if set is superset of s2           | Check if s contains all elements | `{1,2,3}.issuperset({1})` → `True`                        |
| **pop()**                           | Removes and returns random element        | Remove unknown element           | `{1,2,3}.pop()` → e.g. `1`                                |
| **remove(x)**                       | Removes `x`; raises error if absent       | Strict removal                   | `{1,2}.remove(2)` → `{1}`                                 |
| **symmetric_difference(s2)**        | Returns elements in either set, not both  | XOR set operation                | `{1,2}.symmetric_difference({2,3})` → `{1,3}`             |
| **symmetric_difference_update(s2)** | Updates set with symmetric difference     | In-place XOR                     | `s={1,2}; s.symmetric_difference_update({2,3})` → `{1,3}` |
| **union(s2,... )**                  | Returns all unique elements from all sets | Combine many sets                | `{1,2}.union({2,3},{3,4})` → `{1,2,3,4}`                  |
| **update(s2)**                      | Adds all elements of s2                   | In-place merge                   | `s={1,2}; s.update({2,3})` → `{1,2,3}`                    |

## 6.4 Dictionary
A dictionary in Python is a collection of key–value pairs.
It is ordered (Python 3.7+), mutable, and does not allow duplicate keys.

In [17]:
dict1={"name":"Gopal","Surname":"Marmat"}

In [18]:
type(dict1)

dict

In [38]:
d1={"a":0,"b":1}
print(d1)
d2=dict.fromkeys(["c","d","e","f"],None)
print(d2)

{'a': 0, 'b': 1}
{'c': None, 'd': None, 'e': None, 'f': None}

In [33]:
print(d1.get("b"))

print(d2.get("e"))

1
None

In [39]:
print(d2.items())

dict_items([('c', None), ('d', None), ('e', None), ('f', None)])

In [36]:
print(d2.keys())

dict_keys(['c', 'd', 'e', 'f'])

In [40]:
d2.pop("d")

In [41]:
print(d2)

{'c': None, 'e': None, 'f': None}

In [42]:
d2.popitem()
print(d2)

{'c': None, 'e': None}

In [43]:
d3={}
d3.setdefault("x",25)

25

In [44]:
print(type(d3))

<class 'dict'>

In [45]:
d3

{'x': 25}

In [49]:
d3.update({'y':26})
d3

{'x': 25, 'y': 26}

In [50]:
d3.values()

dict_values([25, 26])

| Method                        | Description                                                    | Typical Application                       | Example (Input → Output)                                         |
| ----------------------------- | -------------------------------------------------------------- | ----------------------------------------- | ---------------------------------------------------------------- |
| **clear()**                   | Removes all items from the dictionary                          | Reset a dictionary to empty               | `d = {'a':1,'b':2}; d.clear(); print(d)` → `{}`                  |
| **copy()**                    | Returns a shallow copy of the dictionary                       | Duplicate dict without linking references | `d={'x':1}; c=d.copy(); print(c)` → `{'x':1}`                    |
| **fromkeys(seq, value=None)** | Creates a new dict with keys from sequence and one value       | Initialize dictionary with default values | `d=dict.fromkeys(['a','b'],0); print(d)` → `{'a':0,'b':0}`       |
| **get(key, default=None)**    | Returns value for key; returns default if key not found        | Safe key access without error             | `d={'a':1}; print(d.get('b',0))` → `0`                           |
| **items()**                   | Returns a view object of `(key, value)` pairs                  | Iterating through items                   | `d={'a':1}; print(list(d.items()))` → `[('a',1)]`                |
| **keys()**                    | Returns a view of dictionary keys                              | Loop through keys                         | `d={'a':1}; print(list(d.keys()))` → `['a']`                     |
| **pop(key, default)**         | Removes key and returns its value; returns default if missing  | Remove and get item at same time          | `d={'a':1}; print(d.pop('a'))` → `1`                             |
| **popitem()**                 | Removes and returns last inserted `(key, value)` pair          | LIFO removal (stack-like)                 | `d={'a':1,'b':2}; print(d.popitem())` → `('b',2)`                |
| **setdefault(key, default)**  | Returns value of key; inserts key with default if missing      | Insert if absent, otherwise get           | `d={}; print(d.setdefault('a',10)); print(d)` → `10`, `{'a':10}` |
| **update(other_dict)**        | Updates the dictionary with other dictionary or iterable pairs | Merge dictionaries                        | `d={'a':1}; d.update({'b':2}); print(d)` → `{'a':1,'b':2}`       |
| **values()**                  | Returns a view of dictionary values                            | Loop through values                       | `d={'a':1}; print(list(d.values()))` → `[1]`                     |

# 7 Function
A Function is block of code which run only when we call, this is reusable block of code which we call whenever we need in our code.

In [4]:
def add_num(a,b,c):
    print("this is addition function which we can used for add 3 number and you need to call this function with 3 input parameter")
    return a+b+c

a=3
b=4
c=2
x=6
y=7
z=8
'''add=a+b+c
print(add)
add1=x+y+z
print(add1)'''
add=add_num(a,b,c)
print(add)

this is addition function which we can used for add 3 number and you need to call this function with 3 input parameter
9

In [6]:
def check_results(marks):
    if marks < 40:
        print("you are Failed")
    elif 40 <= marks <60:
        print("you are pass with second class")
    elif 60<= marks <75:
        print("you are pass with first class")
    elif 75<= marks <100:
        print("You are pass with first class distinction")
    else:
        print("value was incorrect")
student1_marks=72
student2_marks=81
student3_marks=34
check_results(student1_marks)
check_results(student2_marks)
check_results(student3_marks)

you are pass with first class
You are pass with first class distinction
you are Failed

### Scope

In [8]:
# Scope
var1=5 #Global Variable
def test_fun():
    var2=4 #Local Varibale
    return var1+var2

print(var1)
print(test_fun())

5
9

### *args : 
This Allow a function to accept any number of input positional arguement

In [ ]:
def add_number(*args):
    return sum(args)
add_number(2,3,4,5,6,7,1,8,5,3,4)

48

### **kwargs:
This Allow function to accept any keyword arguemnt.

In [18]:
def print_info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}: {value}")
    
print_info(name="Jon",age=30,city="newyork")

name: Jon
age: 30
city: newyork

# 7.2 Lambda Function
Lambda function is single line anonymous function without name, It can take any value of arguement but one expression. lambda keyword used to write lambda expression.

In [ ]:
x=6
square1= lambda x: x*x
print(square1(x))

36

In [12]:
x=6
add1= lambda x: x+x
print(add1(x))

12