# Python Programming: Basic to Intermediate Concepts
Python is a high-level, easy-to-read programming language used for building websites, automating tasks, analyzing data, creating software, and much more.

In [1]:
#Python Syntax and Input
print("Hello Python")

Hello Python

In [2]:
name = input("Enter your name : ")
print(name)

Gopal

## Comments

In [5]:
# Single Line Comment
a=23 #This is single line comments

In [6]:
#this is addition function
def add_number(a,b):
    n=a+b
    return n
add_number(12,25)

37

In [7]:
#Mutliline comments
"""this is 
multiline 
comments""" #When We will start Gen AI will go in depth

#second way
'''this
is 
multiline 
comments
'''

'this\nis \nmultiline \ncomments\n'

In [10]:
s="""
Hello
World"""

print(s)

Hello
World

### please do some handson

In [ ]:
#hands on

## 1. Variables and Data Types
A variable is a named place in memory where a value is stored so you can use or change it later, Variables are containers for storing data values. 

Data types means what kind of value store in variables. Python has various data types including integers, floats, strings, and booleans.

In [3]:
#Code
n= 23
a="gopal"
print(type(n),type(a))

<class 'int'> <class 'str'>

In [4]:
# DataType
a=25 #int
s= "Gopal" #string
f=99.99 #Float
b=True #boolean
print(type(a))
print(type(s))
print(type(f))
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

## 2. Type Casting
Convert from one data type to another using built-in functions like `int()`, `float()`, `str()`.

In [ ]:
#Type Conversion
n=25
print(type(n))
n=str(n) #Type Conversion from integer to string
print(type(n))

<class 'int'>
<class 'str'>

In [11]:
s="25"
print(type(s))
s=int(s) #Type Conversion from string to integer
print(type(s))

<class 'str'>
<class 'int'>

In [14]:
n=25
print(type(n))
print(n)
n=float(n) # Type Conversion from Interger to Float
print(type(n))
print(n)

<class 'int'>
25
<class 'float'>
25.0

# String

| **Method**              | **Description**                        | **Application**                                                       | **Example**                                                                          |
| ----------------------- | -------------------------------------- | --------------------------------------------------------------------- | ------------------------------------------------------------------------------------ |
| `capitalize()`          | Capitalizes first character            | To capitalize the first letter of a string                            | **Input:** `"hello".capitalize()` <br> **Output:** `Hello`                           |
| `casefold()`            | Aggressive lowercase (for comparisons) | Useful for case-insensitive string comparisons                        | **Input:** `"ß".casefold()` <br> **Output:** `ss`                                    |
| `center(width, fill)`   | Center aligns string                   | For centering a string within a specified width                       | **Input:** `"hi".center(10, '-')` <br> **Output:** `--hi-------`                     |
| `count(sub)`            | Count occurrences of substring         | To count how many times a substring appears in a string               | **Input:** `"banana".count("a")` <br> **Output:** `3`                                |
| `encode()`              | Encode string to bytes                 | Convert a string to its byte representation                           | **Input:** `"hi".encode()` <br> **Output:** `b'hi'`                                  |
| `endswith(suffix)`      | Checks string end                      | To check if a string ends with a specific suffix                      | **Input:** `"hello".endswith("lo")` <br> **Output:** `True`                          |
| `expandtabs(tabsize)`   | Replace `\t` with spaces               | For converting tab characters to spaces in a string                   | **Input:** `"a\tb".expandtabs(4)` <br> **Output:** `a   b`                           |
| `find(sub)`             | Return index of substring, or -1       | To find the first occurrence of a substring in a string               | **Input:** `"hello".find("l")` <br> **Output:** `2`                                  |
| `format()`              | Format string                          | To format a string with placeholders and variables                    | **Input:** `"{} {}".format("Hi","All")` <br> **Output:** `Hi All`                    |
| `format_map(mapping)`   | Format using a dict                    | Format a string using a dictionary mapping                            | **Input:** `"{name}".format_map({"name":"Bob"})` <br> **Output:** `Bob`              |
| `index(sub)`            | Like `find()` but errors if not found  | To find the index of a substring, raises ValueError if not found      | **Input:** `"hello".index("e")` <br> **Output:** `1`                                 |
| `isalnum()`             | Alphanumeric?                          | To check if a string contains only alphanumeric characters            | **Input:** `"abc123".isalnum()` <br> **Output:** `True`                              |
| `isalpha()`             | Alphabetic?                            | To check if a string contains only alphabetic characters              | **Input:** `"abc".isalpha()` <br> **Output:** `True`                                 |
| `isascii()`             | ASCII characters only?                 | To check if all characters in the string are ASCII characters         | **Input:** `"π".isascii()` <br> **Output:** `False`                                  |
| `isdecimal()`           | Decimal digits?                        | To check if the string consists of decimal digits only                | **Input:** `"123".isdecimal()` <br> **Output:** `True`                               |
| `isdigit()`             | Digits? (includes superscripts etc.)   | To check if the string consists of digits (including special symbols) | **Input:** `"²".isdigit()` <br> **Output:** `True`                                   |
| `isidentifier()`        | Valid Python identifier?               | To check if a string is a valid Python variable name                  | **Input:** `"var1".isidentifier()` <br> **Output:** `True`                           |
| `islower()`             | All letters lowercase?                 | To check if all letters in a string are lowercase                     | **Input:** `"hello".islower()` <br> **Output:** `True`                               |
| `isnumeric()`           | Numeric?                               | To check if a string contains numeric characters, including fractions | **Input:** `"Ⅷ".isnumeric()` <br> **Output:** `True`                                 |
| `isprintable()`         | Printable characters?                  | To check if all characters in a string are printable                  | **Input:** `"hello".isprintable()` <br> **Output:** `True`                           |
| `isspace()`             | Only whitespace?                       | To check if the string contains only spaces or tab characters         | **Input:** `"   ".isspace()` <br> **Output:** `True`                                 |
| `istitle()`             | Title case?                            | To check if the string is in title case                               | **Input:** `"Hello World".istitle()` <br> **Output:** `True`                         |
| `isupper()`             | All uppercase?                         | To check if all letters in a string are uppercase                     | **Input:** `"HELLO".isupper()` <br> **Output:** `True`                               |
| `join(iterable)`        | Join iterable into string              | To join elements of an iterable with a separator string               | **Input:** `" ".join(["a","b"])` <br> **Output:** `a b`                              |
| `ljust(width, fill)`    | Left align                             | To left-align a string within a specified width                       | **Input:** `"hi".ljust(10, '-')` <br> **Output:** `hi--------`                       |
| `lower()`               | Lowercase                              | To convert all characters in a string to lowercase                    | **Input:** `"HELLO".lower()` <br> **Output:** `hello`                                |
| `lstrip(chars)`         | Strip left side                        | To remove leading whitespace or specified characters                  | **Input:** `"  hi".lstrip()` <br> **Output:** `hi`                                   |
| `maketrans()`           | Create translation table               | To create a character translation map                                 | **Input:** `str.maketrans("abc", "123")` <br> **Output:** `{97: 49, 98: 50, 99: 51}` |
| `partition(sep)`        | Split into 3 parts                     | To split a string into three parts around a separator                 | **Input:** `"a-b".partition("-")` <br> **Output:** `('a', '-', 'b')`                 |
| `removeprefix(prefix)`  | Remove prefix if present               | To remove a prefix from a string, if it exists                        | **Input:** `"HelloWorld".removeprefix("Hello")` <br> **Output:** `World`             |
| `removesuffix(suffix)`  | Remove suffix if present               | To remove a suffix from a string, if it exists                        | **Input:** `"file.txt".removesuffix(".txt")` <br> **Output:** `file`                 |
| `replace(old, new)`     | Replace substring                      | To replace all occurrences of a substring                             | **Input:** `"hi hi".replace("hi", "bye")` <br> **Output:** `bye bye`                 |
| `rfind(sub)`            | Rightmost index or -1                  | To find the rightmost occurrence of a substring                       | **Input:** `"hello".rfind("l")` <br> **Output:** `3`                                 |
| `rindex(sub)`           | Rightmost index, errors if not found   | To find the rightmost occurrence, raises error if not found           | **Input:** `"hello".rindex("l")` <br> **Output:** `3`                                |
| `rjust(width, fill)`    | Right align                            | To right-align a string within a specified width                      | **Input:** `"hi".rjust(10, '-')` <br> **Output:** `-------hi`                        |
| `rpartition(sep)`       | Rightmost partition                    | To split a string from the right, into 3 parts                        | **Input:** `"a-b-c".rpartition("-")` <br> **Output:** `('a', '-', 'b-c')`            |
| `rsplit(sep, maxsplit)` | Split from right                       | To split a string from the right, limiting splits                     | **Input:** `"a,b,c".rsplit(",", 1)` <br> **Output:** `['a,b', 'c']`                  |
| `rstrip(chars)`         | Strip right side                       | To remove trailing whitespace or specified characters                 | **Input:** `"hi   ".rstrip()` <br> **Output:** `hi`                                  |
| `split(sep, maxsplit)`  | Split into list                        | To split a string into a list using a separator                       | **Input:** `"a,b,c".split(",")` <br> **Output:** `['a', 'b', 'c']`                   |
| `splitlines(keepends)`  | Split by lines                         | To split a multiline string into a list of lines                      | **Input:** `"a\nb".splitlines()` <br> **Output:** `['a', 'b']`                       |
| `startswith(prefix)`    | Checks start                           | To check if a string starts with a specific prefix                    | **Input:** `"hello".startswith("he")` <br> **Output:** `True`                        |
| `zfill(width)` | Pads string on the left with zeros | To ensure numeric strings have a fixed width (useful for IDs, timestamps, formatting) | **Input:** `"42".zfill(5)` <br> **Output:** `00042` |

## Task for Me 
1. zfill
2. rjust
3. ljust
4. center
5. Add Application Column

In [4]:
str.maketrans("abcd","1345") #ascii value a=97,b=98,c=99,d=100 and 1=49,3=51,4=52,5=53

{97: 49, 98: 51, 99: 52, 100: 53}

In [2]:
s1="25"
s1.zfill(4)

'0025'

In [2]:
s="HelloGopal"
print(s.upper())

HELLOGOPAL

In [3]:
# Capitilized
print(s.capitalize())

Hellogopal

In [5]:
#casefold
print(s.casefold()) # Need to explore where to used and why??

hellogopal

In [ ]:
print(s.center("-"))# Need to explore where to used and why??

HelloGopal

In [24]:
s2="Helloworld"
s2[2]

'l'

In [21]:
s2[:2]

'He'

In [30]:
s2[2:]

'lloworld'

In [29]:
s2[1:9] # [start:end:step]

'elloworl'

In [18]:
s1="hello"
s2="world"
print(s1)
print(s2)
#s1=s1.join(s2) #Not giving Expected Result
s1=s1+s2 #Merge String
print(s1)
print(s2)

hello
world
helloworld
world

In [20]:
print(s.capitalize())

Hellogopal

In [19]:
print(s.lower())

hellogopal

# 3. Operators
An operator in Python is a special symbol or keyword used to perform operations on values or variables.
Python uses operators to carry out computations like arithmatic, comparison, logical evaluation, assignment, Relational, Bitwise, Membership and Identity etc.

| **Category**                | **Operator**    | **Description**               | **Example**                         |
| --------------------------- | --------------- | ----------------------------- | ----------------------------------- |
| **Arithmetic**              | `+`             | Addition                      | `a + b`                             |
| Arithmetic                  | `-`             | Subtraction                   | `a - b`                             |
| Arithmetic                  | `*`             | Multiplication                | `a * b`                             |
| Arithmetic                  | `/`             | Division                      | `a / b`                             |
| Arithmetic                  | `%`             | Modulus (remainder)           | `a % b`                             |
| Arithmetic                  | `**`            | Exponentiation                | `a ** b`                            |
| Arithmetic                  | `//`            | Floor Division                | `a // b`                            |
| **Relational (Comparison)** | `==`            | Equal to                      | `a == b`                            |
| Comparison                  | `!=`            | Not equal to                  | `a != b`                            |
| Comparison                  | `>`             | Greater than                  | `a > b`                             |
| Comparison                  | `<`             | Less than                     | `a < b`                             |
| Comparison                  | `>=`            | Greater than or equal         | `a >= b`                            |
| Comparison                  | `<=`            | Less than or equal            | `a <= b`                            |
| **Logical**                 | `and`           | True if both True             | `a > 5 and b < 10`                  |
| Logical                     | `or`            | True if any True              | `a > 5 or b < 10`                   |
| Logical                     | `not`           | Negates condition             | `not(a > b)`                        |
| **Assignment**              | `=`             | Assign value                  | `a = 10`                            |
| Assignment                  | `+=`            | Add and assign                | `a += 2`                            |
| Assignment                  | `-=`            | Subtract and assign           | `a -= 2`                            |
| Assignment                  | `*=`            | Multiply and assign           | `a *= 2`                            |
| Assignment                  | `/=`            | Divide and assign             | `a /= 2`                            |
| Assignment                  | `%=`            | Modulus and assign            | `a %= 2`                            |
| Assignment                  | `**=`           | Exponent and assign           | `a **= 2`                           |
| Assignment                  | `//=`           | Floor divide and assign       | `a //= 2`                           |
| **Bitwise**                 | `&`             | Bitwise AND                   | `a & b`                             |
| Bitwise                     | `\|`            | Bitwise OR                    | `a \| b`                            |
| Bitwise                     | `^`             | Bitwise XOR                   | `a ^ b`                             |
| Bitwise                     | `~`             | Bitwise NOT                   | `~a`                                |
| Bitwise                     | `<<`            | Left shift                    | `a << 2`                            |
| Bitwise                     | `>>`            | Right shift                   | `a >> 2`                            |
| **Membership**              | `in`            | True if value in sequence     | `'a' in 'apple'`                    |
| Membership                  | `not in`        | True if value not in sequence | `'x' not in 'apple'`                |
| **Identity**                | `is`            | Same object                   | `a is b`                            |
| Identity                    | `is not`        | Not same object               | `a is not b`                        |
| **Ternary (Conditional)**   | `a if c else b` | One-line if-else              | `"Even" if num % 2 == 0 else "Odd"` |

In [ ]:
a=2
b="hello"
if a is b:
    print("Both are same value:",a,b)
else:
    print("Both are not same value:",a,b)

Both are same value: 2 hello

In [ ]:
a=2
b="hello"
if a is not b:
    print("Both are same value:",a,b)
else:
    print("Both are not same value:",a,b)

In [50]:
s1="Gopal"
c="o"
if c in s1:
    print(c," is available in :",s1)
else:
    print(c, " is not available in :",s1)

o  is available in : Gopal

In [53]:
s1="Gopal"
c="N"
if c not in s1:
    print(c, " is available in :",s1)
else:
    print(c, " is not available in :",s1)

N  is available in : Gopal

In [32]:
a=True
b=False
if a & b:
    print("Both Condition Satisfied")
else:
    print("one or both condition not sasftied")

one or both condition not sasftied

In [40]:
a=True
if ~ a:
    print("a is true and we are using Not Operator")

a is true and we are using Not Operator

/tmp/ipykernel_6752/1792969382.py:2: DeprecationWarning: Bitwise inversion '~' on bool is deprecated. This returns the bitwise inversion of the underlying int object and is usually not what you expect from negating a bool. Use the 'not' operator for boolean negation or ~int(x) if you really want the bitwise inversion of the underlying int.
  if ~ a:

In [ ]:
a=False
b=False
if a | b:
    print("one or both condition sasftied")
else:
    print("both condition not satsified")

both condition not satsified

In [ ]:
#XOR Need To explore this
a=True
b=False
if a ^ b:
    print("one or both condition sasftied")
else:
    print("both condition not satsified")

one or both condition sasftied

In [41]:
#Operator
s="Gopal"
if "f" in s:
    print(s)

# 4. Conditional Statement

| Statement / Syntax                      | Short Description                                        |
| --------------------------------------- | -------------------------------------------------------- |
| `if`                                    | Executes a block of code when the condition is **True**. |
| `if-else`                               | Chooses between two blocks depending on **True/False**.  |
| `if-elif-else`                          | Checks multiple conditions in sequence.                  |
| Nested `if`                             | An `if` statement inside another `if` block.             |
| Ternary expression (`a if cond else b`) | Short, one-line conditional expression.                  |

In [7]:
# if
age=15
if age>=18:
    print("You are eligible for Voting")

In [8]:
#if-else
if age>=18:
    print("You are eligible for Voting")
else:
    print("You are not eligible for Voting")

You are not eligible for Voting

In [9]:
#if-elif-else
marks=80
if marks < 40:
    print("you are Failed")
elif 40 <= marks <60:
    print("you are pass with second class")
elif 60<= marks <75:
    print("you are pass with first class")
elif 75<= marks <100:
    print("You are pass with first class distinction")
else:
    print("value was incorrect")

You are pass with first class distinction

In [ ]:
#Nested if statement
state="Maharshtra"
dist="Latur"
if state == "Maharshtra":
    if dist== "Chh. Sambhajinagar":
        print("You are from Chh. Sambhajinagar in Maharashtra")
    if dist== "Latur":
        print("You are from Latur in Maharashtra")

You are from Latur in Maharashtra

In [13]:
#Ternary Statement
n=17
"Even" if n%2==0 else "odd"

'odd'

# 5. Loops and Control Statements

| Loop / Statement | Short Description                                 |
| ---------------- | ------------------------------------------------- |
| `for` loop       | Loops over a sequence (list, range, string, etc.) |
| `while` loop     | Repeats as long as the condition is `True`        |
| `break`          | Exits the loop immediately                        |
| `continue`       | Skips the current iteration                       |
| `pass`           | Does nothing; placeholder                         |

In [21]:
#For Loops
s1="Hello"
list1=[1,2,3,"gopal",5]
#string iteration using for Loop
for c in s1:
    print("iterate value:",c)
print("--------------partition-----------------")
for item in list1:
    print("iterated item:",item)

iterate value: H
iterate value: e
iterate value: l
iterate value: l
iterate value: o
--------------partition-----------------
iterated item: 1
iterated item: 2
iterated item: 3
iterated item: gopal
iterated item: 5

In [24]:
#Numberic Value
for n in range(10):
    print("interated number: ",n)

interated number:  0
interated number:  1
interated number:  2
interated number:  3
interated number:  4
interated number:  5
interated number:  6
interated number:  7
interated number:  8
interated number:  9

In [28]:
#While Loop
n=10
while 0<n:
    print("Condition satisfied",n)
    n=n-1

Condition satisfied 10
Condition satisfied 9
Condition satisfied 8
Condition satisfied 7
Condition satisfied 6
Condition satisfied 5
Condition satisfied 4
Condition satisfied 3
Condition satisfied 2
Condition satisfied 1

In [33]:
for i in range(10):
    try:
        a=1/1
        print("Retry:",i)
        break
    except:
        pass

Retry: 0

In [ ]:
#Control Statement
#Break
for i in range(10):
    if i == 5:
        break
    print("range number: ",i)

range number:  0
range number:  1
range number:  2
range number:  3
range number:  4

In [36]:
for i in range(10):
    if i%2!=0:
        continue
    print("range number: ",i)

range number:  0
range number:  2
range number:  4
range number:  6
range number:  8

In [38]:
for i in range(10):
    if i==5:
        continue
    print("range number: ",i)

range number:  0
range number:  1
range number:  2
range number:  3
range number:  4
range number:  6
range number:  7
range number:  8
range number:  9

In [37]:
for i in range(10):
    if i%2==0:
        continue
    print("range number: ",i)

range number:  1
range number:  3
range number:  5
range number:  7
range number:  9

# 6. Data Collection
### List, Tuples, Dictionary, Sets

## 6.1 List
A List in Python is an ordered, mutable collection used to store multiple items in a single variable.
It can contain elements of different data types and supports indexing, slicing, and modification.

In [39]:
list1=[1,2,3,4,5]
list2=["apple","banana","cherry","mango"]
print(list1)
print(list2)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry', 'mango']

In [41]:
list1[4]

5

In [42]:
list2[3]

'mango'

In [47]:
print(list1[:2]) 
print(list1[2:])
print(list1[0:4:3])

[1, 2]
[3, 4, 5]
[1, 4]

In [48]:
print(list1)
list1.append(7)
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]

In [49]:
print(list1)
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 7]
[1, 2, 3, 4, 5, 7, 'apple', 'banana', 'cherry', 'mango']

In [50]:
list1.insert(4,10)
print(list1)

[1, 2, 3, 4, 10, 5, 7, 'apple', 'banana', 'cherry', 'mango']

In [53]:
list1.remove(5)
print(list1)

[1, 2, 3, 4, 7, 'apple', 'banana', 'cherry', 'mango']

In [54]:
list1.pop()
print(list1)

[1, 2, 3, 4, 7, 'apple', 'banana', 'cherry']

In [55]:
list1.pop(3)
print(list1)

[1, 2, 3, 7, 'apple', 'banana', 'cherry']

In [56]:
list1.append(7)

In [57]:
print(list1)

[1, 2, 3, 7, 'apple', 'banana', 'cherry', 7]

In [58]:
list1.index(7)

3

In [60]:
print(list1.count(3))
print(list1.count(2))

1
1

In [68]:
list3=[1,4,3,5,2,6,8,7]
print("Unsorted List:",list3)
list3.sort()
print("Sorted List / Ascending Order list:",list3)
list3.reverse()
print("Reverse Lised/ Descending order List:",list3)

Unsorted List: [1, 4, 3, 5, 2, 6, 8, 7]
Sorted List / Ascending Order list: [1, 2, 3, 4, 5, 6, 7, 8]
Reverse Lised/ Descending order List: [8, 7, 6, 5, 4, 3, 2, 1]

In [69]:
list4=list3.copy()
print(list3)
print(list4)

[8, 7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]

In [70]:
print(list4)
list4.clear()
print(list4)

[8, 7, 6, 5, 4, 3, 2, 1]
[]

| Method             | Description                                                 |
| ------------------ | ----------------------------------------------------------- |
| `append(x)`        | Adds item `x` to the end of the list.                       |
| `extend(iterable)` | Adds all elements of an iterable to the end.                |
| `insert(i, x)`     | Inserts item `x` at index `i`.                              |
| `remove(x)`        | Removes the first occurrence of item `x`.                   |
| `pop(i)`           | Removes and returns item at index `i` (default: last item). |
| `clear()`          | Removes all items from the list.                            |
| `index(x)`         | Returns the index of the first occurrence of `x`.           |
| `count(x)`         | Returns how many times `x` appears in the list.             |
| `sort()`           | Sorts the list in ascending order (in-place).               |
| `reverse()`        | Reverses the list (in-place).                               |
| `copy()`           | Returns a shallow copy of the list.                         |

# Task
## 1. Try all String inbuilt function 
## 2. Try All Operators
## 3. Try Slicing Method
## 4. Try Conditional Statement
## 5. Try Loops and Control Statement
## 6. Try List

### --------------------------------------------------

## 6.2 Tuples
A tuple is an ordered, immutable collection of elements.
Once created, you cannot change, add, or remove items.

In [2]:
t1 = (1,2,3,4)

In [3]:
print(type(t1))

<class 'tuple'>

In [6]:
list1=[1,2,3,4]

In [8]:
list1[0]=5
print(list1)

[5, 2, 3, 4]

In [10]:
max(t1)

4

In [11]:
min(t1)

1

In [12]:
sum(t1)

10

In [13]:
t2=(2,3,1,5,4,7,6)

In [14]:
sorted(t2)

[1, 2, 3, 4, 5, 6, 7]

| Function          | Description                           | Example                     |
| ----------------- | ------------------------------------- | --------------------------- |
| `len(t)`          | Returns number of elements            | `len((1,2,3)) → 3`          |
| `max(t)`          | Returns maximum value (if comparable) | `max((1,9,3)) → 9`          |
| `min(t)`          | Returns minimum value                 | `min((2,5,1)) → 1`          |
| `sum(t)`          | Returns sum of elements (numbers)     | `sum((1,2,3)) → 6`          |
| `sorted(t)`       | Sort tuple & Retrun sorted List format| `sorted((3,1,2)) → [1,2,3]` |
| `tuple(iterable)` | Convert to tuple                      | `tuple([1,2]) → (1,2)`      |

## 6.3 Sets
A set in Python is an unordered, mutable collection of unique elements.
It does not allow duplicates and does not maintain order.

In [16]:
set1={1,3,5,4,2,4,4,4}
print(set1)

{1, 2, 3, 4, 5}

In [19]:
type(set1)

set

| Method                              | Description                               | Application                      | Example (Input → Output)                                  |
| ----------------------------------- | ----------------------------------------- | -------------------------------- | --------------------------------------------------------- |
| **add(x)**                          | Adds element `x` to the set               | Insert new item                  | `{1,2}.add(3)` → `{1,2,3}`                                |
| **clear()**                         | Removes all elements                      | Reset set                        | `{1,2}.clear()` → `set()`                                 |
| **copy()**                          | Returns shallow copy                      | Duplicate set                    | `s.copy()` → `{…}`                                        |
| **difference(s2)**                  | Elements in s1 but not in s2              | Find non-overlapping items       | `{1,2,3}.difference({2,3})` → `{1}`                       |
| **difference_update(s2)**           | Removes elements of s2 from original set  | In-place difference              | `s={1,2,3}; s.difference_update({2}); s` → `{1,3}`        |
| **discard(x)**                      | Removes `x` if exists (no error)          | Safe removal                     | `{1,2}.discard(2)` → `{1}`                                |
| **intersection(s2)**                | Elements common in both sets              | Find shared items                | `{1,2,3}.intersection({2,3,4})` → `{2,3}`                 |
| **intersection_update(s2)**         | Keeps only common elements (in-place)     | In-place intersection            | `s={1,2,3}; s.intersection_update({2,3})` → `{2,3}`       |
| **isdisjoint(s2)**                  | True if no common elements                | Check if two sets overlap        | `{1,2}.isdisjoint({3})` → `True`                          |
| **issubset(s2)**                    | Checks if set is subset of s2             | Check containment                | `{1,2}.issubset({1,2,3})` → `True`                        |
| **issuperset(s2)**                  | Checks if set is superset of s2           | Check if s contains all elements | `{1,2,3}.issuperset({1})` → `True`                        |
| **pop()**                           | Removes and returns random element        | Remove unknown element           | `{1,2,3}.pop()` → e.g. `1`                                |
| **remove(x)**                       | Removes `x`; raises error if absent       | Strict removal                   | `{1,2}.remove(2)` → `{1}`                                 |
| **symmetric_difference(s2)**        | Returns elements in either set, not both  | XOR set operation                | `{1,2}.symmetric_difference({2,3})` → `{1,3}`             |
| **symmetric_difference_update(s2)** | Updates set with symmetric difference     | In-place XOR                     | `s={1,2}; s.symmetric_difference_update({2,3})` → `{1,3}` |
| **union(s2,... )**                  | Returns all unique elements from all sets | Combine many sets                | `{1,2}.union({2,3},{3,4})` → `{1,2,3,4}`                  |
| **update(s2)**                      | Adds all elements of s2                   | In-place merge                   | `s={1,2}; s.update({2,3})` → `{1,2,3}`                    |

## 6.4 Dictionary
A dictionary in Python is a collection of key–value pairs.
It is ordered (Python 3.7+), mutable, and does not allow duplicate keys.

In [17]:
dict1={"name":"Gopal","Surname":"Marmat"}

In [18]:
type(dict1)

dict

In [38]:
d1={"a":0,"b":1}
print(d1)
d2=dict.fromkeys(["c","d","e","f"],None)
print(d2)

{'a': 0, 'b': 1}
{'c': None, 'd': None, 'e': None, 'f': None}

In [33]:
print(d1.get("b"))

print(d2.get("e"))

1
None

In [39]:
print(d2.items())

dict_items([('c', None), ('d', None), ('e', None), ('f', None)])

In [36]:
print(d2.keys())

dict_keys(['c', 'd', 'e', 'f'])

In [40]:
d2.pop("d")

In [41]:
print(d2)

{'c': None, 'e': None, 'f': None}

In [42]:
d2.popitem()
print(d2)

{'c': None, 'e': None}

In [43]:
d3={}
d3.setdefault("x",25)

25

In [44]:
print(type(d3))

<class 'dict'>

In [45]:
d3

{'x': 25}

In [49]:
d3.update({'y':26})
d3

{'x': 25, 'y': 26}

In [50]:
d3.values()

dict_values([25, 26])

| Method                        | Description                                                    | Typical Application                       | Example (Input → Output)                                         |
| ----------------------------- | -------------------------------------------------------------- | ----------------------------------------- | ---------------------------------------------------------------- |
| **clear()**                   | Removes all items from the dictionary                          | Reset a dictionary to empty               | `d = {'a':1,'b':2}; d.clear(); print(d)` → `{}`                  |
| **copy()**                    | Returns a shallow copy of the dictionary                       | Duplicate dict without linking references | `d={'x':1}; c=d.copy(); print(c)` → `{'x':1}`                    |
| **fromkeys(seq, value=None)** | Creates a new dict with keys from sequence and one value       | Initialize dictionary with default values | `d=dict.fromkeys(['a','b'],0); print(d)` → `{'a':0,'b':0}`       |
| **get(key, default=None)**    | Returns value for key; returns default if key not found        | Safe key access without error             | `d={'a':1}; print(d.get('b',0))` → `0`                           |
| **items()**                   | Returns a view object of `(key, value)` pairs                  | Iterating through items                   | `d={'a':1}; print(list(d.items()))` → `[('a',1)]`                |
| **keys()**                    | Returns a view of dictionary keys                              | Loop through keys                         | `d={'a':1}; print(list(d.keys()))` → `['a']`                     |
| **pop(key, default)**         | Removes key and returns its value; returns default if missing  | Remove and get item at same time          | `d={'a':1}; print(d.pop('a'))` → `1`                             |
| **popitem()**                 | Removes and returns last inserted `(key, value)` pair          | LIFO removal (stack-like)                 | `d={'a':1,'b':2}; print(d.popitem())` → `('b',2)`                |
| **setdefault(key, default)**  | Returns value of key; inserts key with default if missing      | Insert if absent, otherwise get           | `d={}; print(d.setdefault('a',10)); print(d)` → `10`, `{'a':10}` |
| **update(other_dict)**        | Updates the dictionary with other dictionary or iterable pairs | Merge dictionaries                        | `d={'a':1}; d.update({'b':2}); print(d)` → `{'a':1,'b':2}`       |
| **values()**                  | Returns a view of dictionary values                            | Loop through values                       | `d={'a':1}; print(list(d.values()))` → `[1]`                     |

# 7 Function
A Function is block of code which run only when we call, this is reusable block of code which we call whenever we need in our code.

### Normal Function / Positional Arguement Function

In [4]:
def add_num(a,b,c):
    print("this is addition function which we can used for add 3 number and you need to call this function with 3 input parameter")
    return a+b+c

a=3
b=4
c=2
x=6
y=7
z=8
'''add=a+b+c
print(add)
add1=x+y+z
print(add1)'''
add=add_num(a,b,c)
print(add)

this is addition function which we can used for add 3 number and you need to call this function with 3 input parameter
9

In [6]:
def check_results(marks):
    if marks < 40:
        print("you are Failed")
    elif 40 <= marks <60:
        print("you are pass with second class")
    elif 60<= marks <75:
        print("you are pass with first class")
    elif 75<= marks <100:
        print("You are pass with first class distinction")
    else:
        print("value was incorrect")
student1_marks=72
student2_marks=81
student3_marks=34
check_results(student1_marks)
check_results(student2_marks)
check_results(student3_marks)

you are pass with first class
You are pass with first class distinction
you are Failed

### Scope

In [8]:
# Scope
var1=5 #Global Variable
def test_fun():
    var2=4 #Local Varibale
    return var1+var2

print(var1)
print(test_fun())

5
9

### Variable Length Arguement Function (*args) : 
This Allow a function to accept any number of input positional arguement, If we don't how many parameter we will pass as an input in function while calling function

In [6]:
def add_number(*args):
    return sum(args)
add_number(2,3,4,5,6,7,1,8,5,3,4,12,13)

73

## Keyword arguement Function

### **kwargs:
This Allow function to accept any keyword arguemnt.

In [ ]:
#Keyword arguement Function
def greet(name, age,height):
    return f"{name}, {age} years"
greet(age=25, name='John',height=5.8)

'John, 25 years'

In [10]:
def print_info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}: {value}")
    
print_info(name="Jon",age=30,city="newyork",profession="ML Engineer")

name: Jon
age: 30
city: newyork
profession: ML Engineer

In [3]:
#Default Arguement Function
def default_fun(name,country="india"):
    return f"I am {name}, I am from {country}"
default_fun("Gopal")

'I am Gopal, I am from india'

In [8]:
def func(*args, **kwargs):
    print(args, kwargs)
func(1,2, name="Raj")

(1, 2) {'name': 'Raj'}

In [11]:
def pass_fun(a,b):
    pass

In [1]:
def book(title, *, price):
    return title, price
book("Python", price=200)# Need to check

('Python', 200)

| **Function Type**                                                     | **Description**                                                    | **Example**                                                                                             | **Common Application**                                                                               |
| --------------------------------------------------------------------- | ------------------------------------------------------------------ | ------------------------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------------------------- |
| **Positional Argument Function**                                      | Requires arguments to be passed in the correct order.              | `python\ndef add(a, b):\n    return a + b\nprint(add(3, 4))  # 7`                                       | Most common form of functions, used when argument order is clear and fixed.                          |
| **Keyword Argument Function**                                         | Arguments are passed using parameter names; order does not matter. | `python\ndef greet(name, age):\n    return f\"{name}, {age} years\"\nprint(greet(age=25, name='John'))` | Useful for readability, avoids mistakes from wrong order.                                            |
| **Default Argument Function**                                         | Parameters have default values used if no value is supplied.       | `python\ndef info(name, country=\"USA\"):\n    return name, country\nprint(info(\"Alex\"))`             | Used to create flexible functions with optional parameters.                                          |
| **Variable-length Argument Function — *args**                         | Accepts any number of **positional** arguments as a tuple.         | `python\ndef total(*nums):\n    return sum(nums)\nprint(total(1,2,3,4))`                                | Useful for summing, aggregating, or handling unknown numbers of inputs.                              |
| **Variable-length Argument Function — **kwargs**                      | Accepts any number of **keyword** arguments as a dictionary.       | `python\ndef display(**info):\n    return info\nprint(display(name=\"Tom\", age=30))`                   | Used when you need flexible keyword arguments (e.g., API data).                                      |
| **Combined args + kwargs Function**                                   | Accepts both positional and keyword arbitrary arguments.           | `python\ndef func(*args, **kwargs):\n    print(args, kwargs)\nfunc(1,2, name=\"Raj\")`                  | Used for building wrappers, decorators, and flexible APIs.                                           |
| **Keyword-Only Argument Function**                                    | Arguments after `*` must be passed by keyword.                     | `python\ndef book(title, *, price):\n    return title, price\nbook(\"Python\", price=200)`              | Ensures required clarity of arguments (e.g., configuration parameters).                              |
| **Positional-Only Argument Function**                                 | Arguments before `/` **must** be positional.                       | `python\ndef divide(a, b, /):\n    return a / b\ndivide(10, 2)`                                         | Used in internal APIs to avoid overriding variable names (e.g., built-in functions).                 |
| **Pass-through Function**                                             | A function that receives arguments but does nothing (`pass`).      | `python\ndef dummy(a, b):\n    pass`                                                                    | Used for placeholders during development; commonly used in interface or abstract method definitions. |

### Skip below function

| **Mixed Argument Function (positional + default + *args + **kwargs)** | Allows maximum flexibility in how arguments are passed.            | `python\ndef demo(a, b=10, *args, **kwargs):\n    print(a, b, args, kwargs)\ndemo(1, 2, 3, 4, x=5)`     | Used in frameworks, decorators, complex APIs where behavior must adapt to many argument types.       |

## Function Type

| **Function Type**         | **Description**                                                                                                                                        | **Example**                                                                                                                                                                                                                                                                                                                                                                                                     | **Common Application**                                                                                                                                                                        |
| ------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------ | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| **Standard Function**     | A regular function that is defined using the `def` keyword. Can accept arguments and return a value.                                                   | `python<br>def add(x, y):<br>    return x + y<br>print(add(2, 3))  # Output: 5`                                                                                                                                                                                                                                                                                                                                 | Used in almost all Python applications for modular code, calculations, data processing, etc.                                                                                                  |
| **Lambda Function**       | A small anonymous function defined using the `lambda` keyword. Can have any number of arguments, but only one expression.                              | `python<br>add = lambda x, y: x + y<br>print(add(2, 3))  # Output: 5`                                                                                                                                                                                                                                                                                                                                           | Often used for short, throwaway functions. Typically used in `map()`, `filter()`, `sorted()`, and `reduce()` functions. Useful in functional programming.                                     |
| **Generator Function**    | A function that returns an iterator (a generator). Uses the `yield` keyword to produce a value one at a time, pausing its state between yields.        | `python<br>def count_up_to(n):<br>    count = 1<br>    while count <= n:<br>        yield count<br>        count += 1<br>gen = count_up_to(5)<br>for i in gen:<br>    print(i) <br> gen_count=count_up_to(6) <br> print(next(gen_count))`                                                                                                                                                                                                                                 | Used for iterating over large datasets, lazy evaluation, or streams of data where you don't want to load everything into memory at once (e.g., reading large files).                          |
| **Iterator Function**     | An object that implements the `__iter__()` and `__next__()` methods. It can be used to iterate over data one item at a time.                           | `python<br>class MyIterator:<br>    def __init__(self, start, end):<br>        self.current = start<br>        self.end = end<br>    def __iter__(self):<br>        return self<br>    def __next__(self):<br>        if self.current >= self.end:<br>            raise StopIteration<br>        self.current += 1<br>        return self.current - 1<br>it = MyIterator(0, 3)<br>for i in it:<br>    print(i)` | Useful for creating custom iterable objects. Can be used in loops or in any scenario where you need to iterate through data step by step, such as database queries or custom data structures. |
| **Recursive Function**    | A function that calls itself in order to solve a problem. It must have a base case to terminate the recursion.                                         | `python<br>def factorial(n):<br>    if n == 0:<br>        return 1<br>    return n * factorial(n - 1)<br>print(factorial(5))  # Output: 120`                                                                                                                                                                                                                                                                    | Commonly used for problems that can be broken down into smaller, similar subproblems (e.g., calculating factorials, traversing trees, solving puzzles like the Towers of Hanoi).              |           |

# 7.2 Lambda Function
Lambda function is single line anonymous function without name, It can take any value of arguement but one expression. lambda keyword used to write lambda expression.

In [ ]:
x=6
square1= lambda x: x*x
print(square1(x))

36

In [12]:
x=6
add1= lambda x: x+x
print(add1(x))

12

## 7.3 Generator Function
Generator function is same like normal function but in generator function we generate the value using yield keyword.

In [11]:
def count_up_to(n):
    count = 1
    while count <= n:
        yield count
        count += 1
        gen = count_up_to(5)
        for i in gen:
            print(i)
count_up_to(2)

In [15]:
def gen_fun(n):
    yield n**2
gen_square=gen_fun(6)
print(next(gen_square))

36

## 7.4 Iterator
An iterator is an object that implements the __iter__() and __next__() methods, allowing traversal through a collection (like a list, tuple, or custom objects).

Key Points:

An iterator must implement __iter__() (which returns the iterator object itself) and __next__() (which returns the next item).

Iterators are used in loops like for.

In [1]:
class count:
    def __init__(self,start):
        self.start =start
    
    def __iter__(self):
        self.count=self.start
        return self
    def __next__(self):
        if self.count > 0:
            self.count -=1
            return self.count
        else:
            raise StopIteration
        
count=count(4)
for num in count:
    print(num)

3
2
1
0

## 7.5 Recursion
Recursion is a process in which a function calls itself to solve smaller instances of the same problem. Base cases are essential to prevent infinite recursion.

Key Points:

Recursion involves a function calling itself.

It requires a base case to stop the recursion.

It is useful for problems that can be divided into smaller subproblems.

In [4]:
# Factorial Code
def recursion_fun(n):
    print(n)
    if n==1:
        return 1
    else:
        return n*recursion_fun(n-1)
recursion_fun(6)

6
5
4
3
2
1

720

# 8 Try-Except
try and except are used for exception handling in Python. The code inside the try block is executed, and if an error occurs, the code in the except block is run.

Key Points:

The try block contains code that may raise an exception.

The except block handles specific exceptions.

Optionally, else can be used to run code if no exception occurs, and finally ensures certain code runs regardless of exceptions.

In [10]:
def try_except(n1,num):
    try:
        n=n1/num
        return n
    except:
        print("number is not divisible")
try_except(12,0)

number is not divisible

In [13]:
def try_except(n1,num):
    try:
        n=n1/num
        return n
    except Exception as e:
        print("exception is :",e)
        print("number is not divisible")
try_except(12,0)

exception is : division by zero
number is not divisible

In [11]:
def try_except(n1,num):
    n=n1/num
    return n

try_except(12,0)

ZeroDivisionError: division by zero

# File Handling
File handling in Python involves opening, reading, writing, and closing files using functions such as open(), read(), write(), and close().

Key Points:

Files are opened using open() with a mode (r for reading, w for writing, a for appending).

Use read() or readlines() to read data.

Use write() to write to a file.

Always close the file using close() (or use a context manager with to automatically handle it).

In [7]:
#Write
with open("test.txt","w") as file:
    file.write("hello this is Jon\n")
    file.write("I am from US\n")
    file.write("I am ML Engineer")

In [9]:
#Read
with open("test.txt","r") as file:
    content=file.read()
    print(content)

hello this is Jon
I am from US
I am ML Engineer

In [8]:
#Read
with open("requirements.txt","r") as file:
    content=file.read()
    print(content)

pandas
numpy
ipykernel

In [22]:
import pandas as pd
test_csv_path=r"/home/hp/Documents/AIML/AIML_Nov_Batch/StudentsPerformance.csv"
df=pd.read_csv(test_csv_path)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
import pandas as pd
test_csv_path="/home/hp/Documents/AIML/AIML_Nov_Batch/StudentsPerformance.csv" #Expecting Error in Windows
df=pd.read_csv(test_csv_path)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
s1='gopal'
s2="gopal"

# Summary

| **Topic**                 | **Description**                                                                                                                | **Types**                                                        | **Example**                                                                           | **Application**                                                                                      |
| ------------------------- | ------------------------------------------------------------------------------------------------------------------------------ | ---------------------------------------------------------------- | ------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------------------------- |
| **Comments**              | Used to explain code and make it more readable. Comments are ignored by the interpreter.                                       | Single-line (`#`), Multi-line (`""" """`)                        | `# This is a single-line comment`<br>`""" This is a multi-line comment """`           | To add explanatory notes to code, improving code readability and maintainability.                    |
| **Variable (with Rule)**  | A container for storing data. Variables must follow naming rules (no spaces, can't start with a number, etc.).                 | Variables with any valid name                                    | `x = 5`                                                                               | Used to store data that can be accessed and manipulated during program execution.                    |
| **Data Types**            | Specifies the type of value a variable can hold (e.g., numbers, strings).                                                      | Integer, Float, Boolean, String, List, Tuple, Set, Dictionary    | `x = 10` (Integer), `y = 3.14` (Float), `name = "Alice"` (String)                     | Helps define what operations can be performed on data and how data is stored in memory.              |
| **Strings**               | A sequence of characters enclosed in quotes.                                                                                   | Immutable, Supports indexing & slicing                           | `name = "John"`<br>`print(name[0])  # Output: J`                                      | Used for text manipulation, user inputs, file processing, etc.                                       |
| **Operators**             | Symbols that perform operations on variables and values (e.g., addition, comparison).                                          | Arithmetic, Comparison, Logical, Assignment, Bitwise, Membership | `+` (Addition), `==` (Equality), `and` (Logical), `=` (Assignment)                    | Used to perform mathematical operations, compare values, and manipulate data.                        |
| **Conditional Statement** | Allows you to execute different blocks of code based on conditions.                                                            | `if`, `elif`, `else`                                             | `if x > 10:`<br>`  print("Greater than 10")`                                          | Controls the flow of code based on conditions (e.g., if-else decisions).                             |
| **Loops**                 | Repeats a block of code multiple times based on a condition or iteration.                                                      | `for`, `while`                                                   | `for i in range(5): print(i)`<br>`while x < 10: x += 1`                               | Used for repeated tasks (iterating over data, repetitive processes).                                 |
| **Control Statement**     | Alters the flow of control in loops and conditional statements (e.g., break, continue).                                        | `break`, `continue`, `pass`                                      | `for i in range(5): if i == 3: break`                                                 | Used for controlling loop flow (exit loop, skip iteration).                                          |
| **Data Collection**       | Built-in collection types that allow you to store multiple items in a single variable.                                         | List, Tuple, Set, Dictionary                                     | `list = [1, 2, 3]`, `tuple = (1, 2, 3)`, `set = {1, 2, 3}`, `dict = {"a": 1, "b": 2}` | Used to store and manage multiple related items in different formats.                                |
| **Function**              | A block of reusable code designed to perform a specific task.                                                                  | Built-in or user-defined                                         | `def greet(name): print("Hello, " + name)`<br>`greet("Alice")`                        | Encapsulates code logic to be reused multiple times. Makes code modular.                             |
| **Lambda Function**       | A small anonymous function defined using the `lambda` keyword.                                                                 | One-liner anonymous functions                                    | `add = lambda x, y: x + y`<br>`print(add(2, 3))  # Output: 5`                         | Used for simple operations that can be passed as arguments to functions (e.g., `map`, `filter`).     |
| **Generator**             | A function that returns an iterator using `yield` instead of `return`. It generates values on the fly and is memory-efficient. | Lazy evaluation, Iterators                                       | `def count_up_to(n): i = 1; while i <= n: yield i; i += 1`                            | Useful for large data sets where you need values one at a time without storing everything in memory. |
| **Iterator**              | An object that can be iterated upon (e.g., using `for` loop).                                                                  | Any object that implements `__iter__` and `__next__`             | `iter_list = iter([1, 2, 3])`<br>`print(next(iter_list))  # Output: 1`                | Used for iterating over items in a collection (list, tuple, etc.) in a controlled manner.            |
| **Recursion**             | A function that calls itself.                                                                                                  | Base case, Recursive case                                        | `def factorial(n): if n == 1: return 1; return n * factorial(n-1)`                    | Solves problems that can be broken down into smaller sub-problems (e.g., factorial, tree traversal). |
| **Try-Except**            | Handles errors by trying to run a block of code and catching exceptions if they occur.                                         | `try`, `except`, `finally`                                       | `try: x = 1 / 0; except ZeroDivisionError: print("Cannot divide by zero!")`           | Used to handle exceptions without stopping the program.                                              |
| **File Handling**         | Allows reading from and writing to files.                                                                                      | Reading, Writing, Appending                                      | `with open("file.txt", "r") as file: content = file.read()`                           | Used to work with files: reading data from them, storing results, etc.                               |

In [2]:
a={4,5,6,3,2,6,3}
print(a)
print(type(a))

{2, 3, 4, 5, 6}
<class 'set'>

In [3]:
list1=(2,4,5,6,73,6,2)
print(list1)
print(type(list1))

(2, 4, 5, 6, 73, 6, 2)
<class 'tuple'>

# 8 Object Oriented Programmings (Oops)
Oop is used for organized software design around object and entities, which contain data (attribute) and methods(Function) 

Key Idea:
Deals with real-world entities as an object.

Application:
1. Software Development
2. Game Developement
3. GUI Application
4. ML Framework

## 8.1 Class
1. Class :- Class is a Blueprint for creating Object
2. Constructor :- Used to initilized object properties.

In [5]:
class Car:
    def __init__(self,brand,color): # Constructor(__init__)
        self.brand=brand
        self.color=color

## 8.2 Object
An object is an instance of a class

In [3]:
car1=Car("TATA","Black")
print(car1.color)

Black

In [4]:
print(car1.brand)

TATA

## 8.3 Attributes & Methods
1. Attributes:- Variables(Arguements) inside class
2. Methods :- Functions inside class

In [6]:
class Dog:
    def __init__(self, name):
        self.name=name
    
    def bark(self):
        print(self.name, "is barking")

In [10]:
dog1=Dog("Moti")
dog1.bark()

Moti is barking

## 8.4 OOPs Pillars

1. Encapsullation
2. Abstraction
3. Inheritance
4. Polymorphism

## 8.4.1 Encapsulation
Encapsulation means wrapping the data and methods together and restrict the access.

1. Protect Data
2. Maintain Data Security

In [11]:
class Bank:
    def __init__(self):
        self.__balance = 1000 #Private variable

    def get_balance(self):
        return self.__balance

In [12]:
user1=Bank()
user1.get_balance()

1000

## 8.4.2 Abstraction
Hiding internal implemention and showing only what is necessary to show user.

1. Reduce Complexity
2. Improve Reliability

In [13]:
from abc import ABC, abstractclassmethod

class Vehicles(ABC):
    def start(self):
        pass

class Car(Vehicles):
    def start(self):
        print("Car Starting....")

## 8.4.3 Inheritance
Inheritance means inherit the properties from another class

### Types Of Inheritance:
1. Single Inheritance : It means single child class inherit properties from single parent class.
2. Multiple Inheritance: It means single child class inherit properties from multiple parent class.
3. Multilevel Inheritance: It means child class inherit properties from parent class which inherited from his parent class.
4. Hierarchical Inheritance: It Means multiple child class inheriting properties from single parent class.
5. Hybrid Inheritance :

| **Type of Inheritance**                            | **Description**                                                                                                            | **Code Example**                                                                                                                                                                              | **Application / Use Case**                                                                       |
| -------------------------------------------------- | -------------------------------------------------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------ |
| **1. Single Inheritance**                          | A child class inherits from **one** parent class.                                                                          | `python class Animal:     def speak(self):         print("Animal sound")  class Dog(Animal):     pass  d = Dog() d.speak() `                                                                  | Used when extending the functionality of one base class (e.g., Car → ElectricCar).               |
| **2. Multilevel Inheritance**                      | A class inherits from a child class, forming a **chain**.                                                                  | `python class Animal:     def eat(self):         print("Eating")  class Mammal(Animal):     pass  class Dog(Mammal):     pass  d = Dog() d.eat() `                                            | Useful in hierarchical structures (e.g., LivingBeing → Animal → Dog).                            |
| **3. Multiple Inheritance**                        | A child class inherits from **multiple parent classes**.                                                                   | `python class Walk:     def walk(self):         print("Walking")  class Swim:     def swim(self):         print("Swimming")  class Duck(Walk, Swim):     pass  d = Duck() d.walk() d.swim() ` | Used when a class needs to combine behaviors from multiple sources (e.g., HybridVehicles).       |
| **4. Hierarchical Inheritance**                    | **Multiple child classes** inherit from the **same parent**.                                                               | `python class Animal:     def sound(self):         print("Animal sound")  class Dog(Animal):     pass  class Cat(Animal):     pass  Dog().sound() Cat().sound() `                             | Best for creating multiple subclasses from one base—e.g., Employee → Manager, Developer, Intern. |
| **5. Hybrid Inheritance**                          | A combination of two or more inheritance types (e.g., multilevel + multiple).                                              | `python class A:     pass  class B(A):     pass  class C(A):     pass  class D(B, C):     pass `                                                                                              | Used in complex systems like frameworks, where classes share and extend functionalities.         |

In [20]:
class Animal:
    def speak(self):
        print("Animal Speaking")

class Cat(Animal):
    def speak(self):
        print("Cat")
cat1=Cat()
cat2=Animal()
cat1.speak()
cat2.speak()

Cat
Animal Speaking

In [19]:
class Animal:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"Name: {self.name}, Age: {self.age}")


class Cat(Animal):
    def speak(self):
        print(f"{self.name} says Meow!")
        

cat1 = Cat("Kitty", 2)
cat1.info()    # inherited from Animal
cat1.speak()   # defined in Cat

Name: Kitty, Age: 2
Kitty says Meow!

## 8.4.4 Polymorphism
Same Function name but different behaviour or implementation.

### Types of Polymorphism
1. Overloading (Compile time)
2. Overriding (Runtime)
3. Duck Typing
4. Method Overriding with Super()

| **Type of Polymorphism**                                                                                                                                            | **Description**                                                                                                                             | **Code Example**                                                                                                                                                                                                                       | **Application / Use Case**                                                                                |
| ------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------- |
| **1. Compile-Time Polymorphism (Method Overloading)** *(*Python doesn’t support traditional overloading but allows default arguments / variable-length arguments*)* | Multiple methods with the **same name but different parameters**. Python simulates this using default arguments or `*args`.                 | `python def add(a, b=0, c=0):     return a + b + c  print(add(2))       # 2 print(add(2, 3))     # 5 print(add(2, 3, 4)) # 9 `                                                                                                         | Used to provide the same method name with flexible input (e.g., built-in `len()`, math functions).        |
| **2. Runtime Polymorphism (Method Overriding)**                                                                                                                     | A **child class** redefines a method of the **parent class** and is resolved at runtime.                                                    | `python class Animal:     def speak(self):         print("Animal sound")  class Dog(Animal):     def speak(self):         print("Bark")  a = Animal() a.speak()  # Animal sound d = Dog() d.speak()  # Bark `                          | Used in OOP to provide specific behavior for subclasses (e.g., different payment methods, vehicle types). |
| **3. Duck Typing**                                                                                                                                                  | Polymorphism based on **behavior, not inheritance**. If an object has a method, Python calls it—**“If it walks like a duck, it's a duck.”** | `python class Cat:     def sound(self):         print("Meow")  class Car:     def sound(self):         print("Horn")  def make_sound(obj):     obj.sound()  make_sound(Cat())  make_sound(Car()) `                                     | Useful when different objects share the same method names (e.g., file-like objects, custom loggers).      |
| **4. Operator Overloading**                                                                                                                                         | Using operators like `+`, `-`, `*`, etc. with **user-defined classes** by overriding special methods (`__add__`, `__str__`, etc.).          | `python class Vector:     def __init__(self, x, y):         self.x = x         self.y = y      def __add__(self, other):         return Vector(self.x + other.x, self.y + other.y)  v1 = Vector(1, 2) v2 = Vector(3, 4) v3 = v1 + v2 ` | Enables natural operations on objects (e.g., vectors, points, money, matrices).                           |
| **5. Method Overriding with `super()`** (Subtype Polymorphism)                                                                                                      | Child class extends parent behavior using **super()**, still demonstrating runtime polymorphism.                                            | `python class Shape:     def area(self):         return 0  class Rectangle(Shape):     def __init__(self, w, h):         self.w, self.h = w, h      def area(self):         return super().area() + (self.w * self.h) `                | Used when extending base class logic (e.g., UI components, API controllers, frameworks).                  |

In [23]:
class Animal:     
    def speak(self):
        print("Animal sound")  
class Dog(Animal):     
    def speak(self):         
        print("Bark")  
a = Animal() 
a.speak()  # Animal sound 
d = Dog() 
d.speak() #Bark

Animal sound
Bark

In [21]:
def add(a, b=0, c=0):
    return a + b + c
print(add(2))       
print(add(2, 3))     
print(add(2, 3, 4))

2
5
9

# 9 Pandas
Pandas is a Python library used for data analysis, data manipulation, and data cleaning.

It provides easy-to-use tools to work with tables, rows, and columns of data.

| **Function**               | **Category**   | **Description**             | **Full Code Example**                                                                                |
| -------------------------- | -------------- | --------------------------- | ---------------------------------------------------------------------------------------------------- |
| `pd.read_csv()`            | Data Loading   | Read CSV file               | `python import pandas as pd df = pd.read_csv("data.csv") `                                           |
| `pd.read_excel()`          | Data Loading   | Read Excel file             | `python df = pd.read_excel("data.xlsx") `                                                            |
| `pd.read_json()`           | Data Loading   | Read JSON file              | `python df = pd.read_json("data.json") `                                                             |
| `pd.read_sql()`            | Data Loading   | Read from SQL               | `python import sqlite3; conn = sqlite3.connect("db.db"); df = pd.read_sql("SELECT * FROM t", conn) ` |
| `df.to_csv()`              | Saving         | Save to CSV                 | `python df.to_csv("out.csv", index=False) `                                                          |
| `df.to_excel()`            | Saving         | Save to Excel               | `python df.to_excel("out.xlsx", index=False) `                                                       |
| `df.head()`                | Inspecting     | First 5 rows                | `python df.head() `                                                                                  |
| `df.tail()`                | Inspecting     | Last 5 rows                 | `python df.tail() `                                                                                  |
| `df.shape`                 | Inspecting     | Dimensions                  | `python print(df.shape) `                                                                            |
| `df.columns`               | Inspecting     | Column names                | `python print(df.columns) `                                                                          |
| `df.dtypes`                | Inspecting     | Data types                  | `python print(df.dtypes) `                                                                           |
| `df.describe()`            | Inspecting     | Stats summary               | `python df.describe() `                                                                              |
| `df.info()`                | Inspecting     | Dataset info                | `python df.info() `                                                                                  |
| `df['col'].unique()`       | Inspecting     | Unique values               | `python df['Age'].unique() `                                                                         |
| `df['col'].value_counts()` | Inspecting     | Frequency count             | `python df['Gender'].value_counts() `                                                                |
| Column selection           | Selecting      | Get single/multiple columns | `python df['Age'] ; df[['Name','Age']] `                                                             |
| Row filter                 | Selecting      | Filter rows                 | `python df[df['Age']>30] `                                                                           |
| `df.loc[]`                 | Selecting      | Label-based selection       | `python df.loc[0:5, ['Name','Salary']] `                                                             |
| `df.iloc[]`                | Selecting      | Index-based selection       | `python df.iloc[0:5, 0:2] `                                                                          |
| `df.query()`               | Selecting      | SQL-like filtering          | `python df.query("Age > 30") `                                                                       |
| `df.isnull()`              | Missing Values | Detect missing              | `python df.isnull().sum() `                                                                          |
| `df.dropna()`              | Missing Values | Remove missing rows         | `python df2 = df.dropna() `                                                                          |
| `df.fillna()`              | Missing Values | Fill missing values         | `python df['Age'] = df['Age'].fillna(df['Age'].mean()) `                                             |
| `df.replace()`             | Cleaning       | Replace values              | `python df.replace({'M':'Male'}) `                                                                   |
| `df.interpolate()`         | Missing Values | Interpolate missing         | `python df['Age'] = df['Age'].interpolate() `                                                        |
| `df.duplicated()`          | Duplicate      | Detect duplicates           | `python df.duplicated().sum() `                                                                      |
| `df.drop_duplicates()`     | Duplicate      | Remove duplicates           | `python df = df.drop_duplicates() `                                                                  |
| `df.rename()`              | Cleaning       | Rename columns              | `python df.rename(columns={'A':'Age'}) `                                                             |
| `df.astype()`              | Cleaning       | Convert datatype            | `python df['Age'] = df['Age'].astype(int) `                                                          |
| `.str` functions           | Cleaning       | String cleaning             | `python df['Name'] = df['Name'].str.strip().str.upper() `                                            |
| `df.apply()`               | Transformation | Apply function              | `python df['Age2'] = df['Age'].apply(lambda x: x+1) `                                                |
| `df.applymap()`            | Transformation | Apply to full DF            | `python df2 = df.applymap(str) `                                                                     |
| `df.map()`                 | Transformation | Map values                  | `python df['Gender'] = df['Gender'].map({'M':1,'F':0}) `                                             |
| `df.round()`               | Transformation | Round numbers               | `python df.round(2) `                                                                                |
| Create new column          | Feature Eng    | Add column                  | `python df['Total'] = df['Qty']*df['Price'] `                                                        |
| `pd.cut()`                 | Feature Eng    | Bin continuous values       | `python df['Bin'] = pd.cut(df['Age'], bins=[0,20,40,60]) `                                           |
| `pd.qcut()`                | Feature Eng    | Quantile bins               | `python df['QBin'] = pd.qcut(df['Income'], 4) `                                                      |
| `pd.get_dummies()`         | Feature Eng    | One-hot encoding            | `python df = pd.get_dummies(df, columns=['Gender']) `                                                |
| `pd.to_datetime()`         | Feature Eng    | Convert to datetime         | `python df['Date'] = pd.to_datetime(df['Date']) `                                                    |
| `.dt.year`                 | Feature Eng    | Extract year                | `python df['Year'] = df['Date'].dt.year `                                                            |
| `df.sort_values()`         | Sorting        | Sort rows                   | `python df.sort_values('Age') `                                                                      |
| `df.sort_index()`          | Sorting        | Sort by index               | `python df.sort_index() `                                                                            |
| `df.groupby()`             | Aggregation    | Group + aggregate           | `python df.groupby('Gender')['Salary'].mean() `                                                      |
| `df.agg()`                 | Aggregation    | Multiple aggregations       | `python df.agg({'Age':'mean','Salary':'sum'}) `                                                      |
| `pd.pivot_table()`         | Aggregation    | Pivot table                 | `python pd.pivot_table(df, values='Sales', index='Region', columns='Year') `                         |
| `pd.crosstab()`            | Aggregation    | Crosstab freq table         | `python pd.crosstab(df.Gender, df.Country) `                                                         |
| `pd.merge()`               | Combining      | Merge two DataFrames        | `python pd.merge(df1, df2, on='ID', how='inner') `                                                   |
| `df.join()`                | Combining      | Join on index               | `python df1.join(df2, lsuffix='_A', rsuffix='_B') `                                                  |
| `pd.concat()`              | Combining      | Concatenate                 | `python pd.concat([df1, df2], axis=0) `                                                              |
| `df.set_index()`           | Indexing       | Set index                   | `python df.set_index('ID', inplace=True) `                                                           |
| `df.reset_index()`         | Indexing       | Reset index                 | `python df.reset_index(inplace=True) `                                                               |
| `pd.melt()`                | Reshaping      | Wide → long                 | `python pd.melt(df, id_vars=['ID']) `                                                                |
| `df.stack()`               | Reshaping      | Stack columns               | `python df.stack() `                                                                                 |
| `df.unstack()`             | Reshaping      | Unstack rows                | `python df.unstack() `                                                                               |
| `df.reindex()`             | Reshaping      | Reorder index               | `python df.reindex(['a','b','c']) `                                                                  |
| `df.rolling()`             | Window Ops     | Rolling window              | `python df['Roll'] = df['Sales'].rolling(3).mean() `                                                 |
| `df.expanding()`           | Window Ops     | Expanding window            | `python df['Exp'] = df['Sales'].expanding().mean() `                                                 |
| `df.ewm()`                 | Window Ops     | Exponential weighted        | `python df['EWM'] = df['Sales'].ewm(alpha=0.3).mean() `                                              |

### Mostly used For Data Preprocessing

| **Function**               | **Purpose**       | **Description**                                    | **Full Code Example**                                      |
| -------------------------- | ----------------- | -------------------------------------------------- | ---------------------------------------------------------- |
| **1. `pd.read_csv()`**     | Data Loading      | Loads a CSV file into a DataFrame                  | `python import pandas as pd df = pd.read_csv("data.csv") ` |
| **2. `df.head()`**         | Quick View        | Shows the first 5 rows                             | `python df.head() `                                        |
| **3. `df.info()`**         | Data Summary      | Shows data types, nulls, memory usage              | `python df.info() `                                        |
| **4. `df.describe()`**     | Statistics        | Provides statistical summary for numerical columns | `python df.describe() `                                    |
| **5. `df.isnull().sum()`** | Missing Values    | Checks missing values column-wise                  | `python df.isnull().sum() `                                |
| **6. `df.fillna()`**       | Missing Values    | Fills missing values with mean/median/constant     | `python df['Age'] = df['Age'].fillna(df['Age'].mean()) `   |
| **7. `df.dropna()`**       | Missing Values    | Removes rows with missing data                     | `python df = df.dropna() `                                 |
| **8. `df.groupby()`**      | Group & Aggregate | Groups data and performs aggregation               | `python df.groupby('Gender')['Salary'].mean() `            |
| **9. `pd.get_dummies()`**  | Encoding          | Converts categorical columns to one-hot encoding   | `python df = pd.get_dummies(df, columns=['Gender']) `      |
| **10. `pd.merge()`**       | Data Combining    | Joins/merges two DataFrames                        | `python final = pd.merge(df1, df2, on='ID', how='inner') ` |

In [24]:
import pandas as pd

df=pd.read_csv("StudentsPerformance.csv")

In [27]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [33]:
print(df.shape)

(1000, 8)

In [28]:
df.tail(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [30]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [31]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [32]:
df['math score']= df['math score'].fillna(df['math score'].mean())

## task For me:
1. Share Statistics Theory Notes
2. Download diferent Noisy Dataset (.csv file) for demo.